# .NET
bin/
obj/
*.user
.vs/

# React
node_modules/
dist/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

# Environment
.env
expense-tracker-ui/.env
appsettings.Development.json
